<p>Enter {{shapeType}} properties:</p>
<form [formGroup]="shapeInputForm" *ngFor="let prop of shapeProperties.getProperties()">
    <input type="number" placeholder="{{prop}}" formControlName={{prop}}>
    <span class='error' *ngIf="shapeInputForm.controls[prop].errors && shapeInputForm.controls[prop].dirty"> enter proper value!</span>
</form>
<p *ngIf="shapeInputForm.valid">
    {{calculationType}}: {{result}}
</p>
<button (click)="goBack()">
    Back
</button>