Select shape and calculation:
<form #contactForm="ngForm">
    <div id="radio-container" *ngFor="let type of calculationTypes" class="radio">
        <input
                type="radio"
                value={{type}}
                name="calculation"
                [(ngModel)]="calculationType"
        >{{type}}
    </div>
    <select [(ngModel)]="shape" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let type of shapeTypes" value={{type}}>{{type}}</option>
    </select>
    <br>
    <button type="submit" (click)="gotoCalculationsView()">
        Submit
    </button>
</form>



